<!DOCTYPE html>
<html lang="en" ng-app="cccApp">
  <head>
    <meta charset="utf-8">
    <title>Character Code Calculater</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="cccCtrl">
    <h2>Easy Character Code Conversion Tool</h2>

  	<div id="char-to-code">
  		<h3>Convert <span style="font-weight:bold">character</span> to <span style="font-weight:bold">key code</span></h3>
	    <div class="input-area">
	   		Enter character: <input type="text" class="input-box" maxlength="1" ng-model="inputValChar" />
	    </div>

	    <div class="result-area">
	    	Result: <br />
	    	Input: {{inputValChar[0]}} <br />
	    	Char Code: <span class="result">{{charCode()}}</span>
	    </div>
    </div>

    <div id="code-to-char">
    	<h3>Convert <span style="font-weight:bold">key code</span> to <span style="font-weight:bold">character</span></h3>
    	<div class="input-area">
    		Enter code: <input type="number" class="input-box" ng-model="inputValCode" />
        <button type="button" class="clipboard-btn" ng-click="copyToClipboard()">Copy</button>
    		<span class="input-error" ng-show="input.$error">Not a valid code!</span>
    	</div>

    	<div class="result-area">
    		Result: <br />
    		Input: {{inputValCode}} <br />
    		Character: <span class="result">{{character()}}</span>
    	</div>
    </div>

    <script src="angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>